.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 9;
  background: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  transition: all 0.7s;
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 10%,
      transparent
    );
    transition: all 0.7s;
    @include media-breakpoint-down(sm) {
        background-color: rgb(20, 20, 20);
        .navigation {
            // .navigation-right {
            //     background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3215686275));
            // }
        }
    }

  }
  .navigation {
    &-left,
    &-right {
      align-items: center;
      display: flex;
    }

    &-left {
      a {
        font-size: 24px;
        color: #fff;
      }
    }

    &-right {
      ul {
        li {
          a {
            color: #fff;
            &:hover {
              color: #b3b3b3;
            }
          }

          &:not(:last-child) {
            margin-right: 1.25rem;
          }
        }
      }
    }
    &-account {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 1.5rem;
      .account-dropdown {
        position: absolute;
        right: 0;
        background-color: rgba(0,0,0,.9);
        border: 1px solid hsla(0,0%,100%,.15);
        box-sizing: border-box;
        color: #fff;
        cursor: default;
        font-size: 13px;
        line-height: 21px;
        z-index: 3;
    
        margin-left: 0;
        padding: 0;
        top: 52px;
        width: 220px;
        &::before {
          content: '';
          z-index: 1;
          position: absolute;
          top: -8px;
          right: 20px;
          border-left: 2px solid hsla(0,0%,100%,.15);
          border-bottom: 2px solid hsla(0,0%,100%,.15);
          width: 15px;
          height: 15px;
          transform: rotate(135deg);

        }
        a {
          padding: 10px;
        }
        .log-out {
          border-top: 1px solid hsla(0,0%,100%,.25);
          padding: 10px;
        }
      }

      .account {
        cursor: pointer;
      }
    }
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      ul {
        padding: 0;
      }
      // .navigation-right {
      //   position: absolute;
      //   width: fit-content;
      //   transition: width .7s;
      //   top: 70px;
      //   left: 0;
      //   background-image: linear-gradient(
      //     90deg,
      //     rgba(0, 0, 0, 0.9) 0%,
      //     #00000052
      //   );
      //   padding-left: 15px;
      //   padding-right: 15px;
      //   box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.9) !important;
      // }
      // .search-bar {
      //   margin-left: 0 !important;
      //   position: absolute;
      //   right: 15px;
      //   input {
      //     // background-color: transparent;
      //     // border-radius: 0;
      //     // position: relative;
      //     // color: #d3d3d3 !important;
      //     // height: 100%;
      //     // max-height: 30px;
      //     // font-size: 14px;

      //     position: absolute;
      //     top: -57px;
      //     width: 210px;
      //     height: 40px;
      //     right: 0;
      //     background: black;
      //   }
      // }
    }
  }
  @include media-breakpoint-down(md) {
        z-index: 99;
}
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.login-button {
     background-color: #e50914;
     min-width: max-content;
     padding: 7px 17px;
   border-radius: 3px;
   height: 38px;
}

// .login-button {
//   background-color: #e50914;
//   float: right;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: normal;
//   padding: 7px 17px;
//   border-radius: 3px;
//   height: 38px;
// @include media-breakpoint-down(sm) {
// position: absolute;
// // top: 15px;
// top: 63;
// right: 15px;
// }
// }